{% extends 'base.html' %}

{% block content %}
    <h1>I'm an index page</h1>
    <a href="about/">About this blog</a><br><br>

    {% for post in posts %}  <!–– Use {% syntax for loops I suppose ––>
        <div>
            <div class ="card header" style="background:url({{ post.image.url }})">
            <h3><a href="/post/{{ post.slug }}"> {{ post.title }}</a></h3>
            </div>
            <!–– Use {{ syntax for variables and methods ––>
            <p>{{ post.summary }}</p>
        </div>
    {% endfor %}
{% endblock %}