{% extends 'base.html' %}

{% block title %}
mydjjangosite: {{ post.title }}
{% endblock %}

{% block content %}
    <a href="/"><-- Back to index</a>

    <h2>{{ post.title }}</h2>
    <h3>{{ post.summary }}</h3>
    <div>
        {{ post.content|linebreaks }}
    </div>
{% endblock %}